@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
    background-color: rgb(107, 105, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    padding: 0 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    position: sticky;
    top:0;
    
}

.menu{
    display: flex;
    list-style: none;

}

.item-menu{
    margin: 0 20px;
    font-size: 1.3rem;
    
}

.logo_img{
    height: 60px;
}